* {
  font: 14px Futura, "Century Gothic", sans-serif;
  transition: background-color 500ms, color 500ms;
  /* margin: 10px; */
}

body {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: centre;
}

ol,
ul {
  padding-left: 30px;
}

div {
  /* width: 600px; */
  text-align: center;
  /* align-items: center; */
  margin: auto;
}

p {
  margin: 0px;
  padding: 15px 0px;
}

.helper {
  font-family: monospace;
  font-size: 0.5em;
  margin-top: 25px;
}
