* {
  font: 14px Futura, "Century Gothic", sans-serif;
  transition: background-color 500ms, color 500ms;
  background-color: #ffffff;
  color: #000000;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: centre;
}

div {
  text-align: center;
  margin: auto;
}

.helper {
  font-family: monospace;
  font-size: 0.5em;
  margin-top: 25px;
}

.dark,
.dark * {
  color: #f1faee;
  background-color: #1d3557;
}
