body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.time {
  color: firebrick;
  background-color: ghostwhite;
  border-radius: 5px;
  font-family: monospace;
  padding: 0px 5px;
}
